#table {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
}

.container-shadow {
    box-shadow: 8px 16px 32px rgb(0 0 0 / 50%);
    -moz-box-shadow: 8px 16px 32px rgba(0,0,0,.5);
    box-shadow: 8px 16px 32px rgb(0 0 0 / 50%);
}

.filters-form {
    width: 90%;
    margin: 1rem 3rem;
}

.button-col {
    max-width: 6rem;
}

.dropdown-toggle {
    border-color: #d1cdc7;
}

.export-button {
    width: 90%;
}

.button-col {
    position: relative;
}

.search-button {
    margin-top: 1rem;
    position: absolute;
    bottom: 10px;
}
