html {
  color: #d1cdc7;
  background-color: #181a1b;
  line-height: 1.5;
  height: 100vh;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div,h1,h2,p,span,th,td,input,#form-control {
  color: #d1cdc7;
  background-color: #181a1b;
  line-height: 1.5;
}